extends layout 

block content 
    .album-detail-title
        h2 _#{album.title}
        h3 by #{album.artist}
    if reviews.length != 0
        .review-container
            h2 _recent reviews
            each review in reviews 
                .review-group 
                    p #{review.album} - #{review.artist}
                    p #{review.description}

                    a(href=`/reviews/${review._id}`) view detail
    else 
        .no-review-alert
            p be the first to add a review