extends layout 

block content 
    h1 music_keep

    form(action="/reviews/add" method="POST").review-form
        h3 add a review
        input(type="text" name="title" placeholder="album title")  
        input(type="text" name="artist" placeholder="album artist")  
        textarea(wrap="soft" name="description" placeholder="your take:").show-placeholder
        button(type="submit") submit

    each review in reviews 
        .review-group 
            p #{review.album}
            p #{review.artist}
            p #{review.description}

            .review-update-group 
                form(action=`/reviews/${review._id}?_method=DELETE` method="POST") 
                    input(type="hidden" name="_method" value="DELETE")
                    button(type="submit") delete
                form(action=`/reviews/${review._id}?_method=PUT` method="POST") 
                    input(type="hidden" name="_method" value="PUT")
                    button(type="submit") update

