extends layout 

block content 
    h2 
    h2 _id: #{review._id}

    form(action=`/reviews/${review._id}?_method=PUT` method="POST").manage-form
        h2 _manage review 
        p #{review.album} - #{review.artist}
        h3 your review:
        textarea(wrap="soft" name="description" placeholder=review.description required).show-placeholder-please
        input(type="hidden" name="_method" value="PUT")
        button(type="submit") update

    form(action=`/reviews/${review._id}?_method=DELETE` method="POST") 
        input(type="hidden" name="_method" value="DELETE")
        button(type="submit") delete