extends layout 

block content 
    h2 _#{review.album} - #{review.artist}
    h2 _id: #{review._id}

    .review-manage-container
        form(action=`/reviews/${review._id}?_method=PUT` method="POST").manage-form
            textarea(wrap="soft" name="description" placeholder=review.description required).show-placeholder-please
            input(type="hidden" name="_method" value="PUT")
            button(type="submit") update

        form(action=`/reviews/${review._id}?_method=DELETE` method="POST").review-delete-btn
            input(type="hidden" name="_method" value="DELETE")
            button(type="submit") delete

        